@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
/* *FONT* */
@font-face {
  font-family: "Figtree";
  src: url("../public/assets/fonts/Figtree-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "fontspringheavy";
  src: url("../public/assets/fonts/Fontspring-DEMO-integralcf-bold.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "fontspringmedium";
  src: url("../public/assets/fonts/Fontspring-DEMO-integralcf-medium.ttf")
    format("truetype");
  font-style: normal;
}

/* *COLOR* */
:root {
  --primary-color: #6d94c5;
  --white: #ffffff;
  --hero-bg: #000000;
  --section-bg-light: #f5efe6;
  --section-bg-dark: #e8dfca;
  --bg-question: #e0f0ff;

  --btn-easily-bg: #e0f0ff;
  --btn-eco-bg: #d5e7fa;
  --btn-mobility-bg: #c9def3;
  --btn-made-bg: #bed4ee;

  --card-gradient-start: hsla(208, 52%, 78%, 1);
  --card-gradient-end: hsla(209, 19%, 51%, 1);

  --marquee-bg: #cbdceb;
  --marquee-text: #6d94c5;
}

/* *BUTTON* */

.btn-easily {
  background-color: var(--btn-easily-bg);
}
.btn-eco {
  background-color: var(--btn-eco-bg);
}
.btn-mobility {
  background-color: var(--btn-mobility-bg);
}
.btn-made {
  background-color: var(--btn-made-bg);
}

.card-gradient {
  background: linear-gradient(
    225deg,
    var(--card-gradient-start) 46%,
    var(--card-gradient-end) 100%
  );
  color: var(--white);
  padding: 10px;
  font-family: "Figtree", sans-serif;
  overflow: hidden;
}

/* *SECTION* */
.section-light {
  background-color: var(--section-bg-light);
}
.section-dark {
  background-color: var(--section-bg-dark);
}
.section-white {
  background-color: var(--white);
}

/* *MARQUEE* */
.tag {
  @apply md:w-[260px] md:h-[80px] w-[170px] h-[50px] flex items-center justify-center rounded-[32.28px] md:text-[25px] text-[18px] font-figtree font-semibold flex-shrink-0;
  background-color: var(--marquee-bg);
  color: var(--marquee-text);
}

/* *ANIMATION* */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-up-active {
  opacity: 1;
  transform: translateY(0);
}

/* *UTILITYS* */
@layer utilities {
  .clip-circle {
    clip-path: circle(0% at 95% 10%);
  }
  .clip-circle-open {
    clip-path: circle(150% at 95% 10%);
  }
}

/* ! Section horizontal full-screen */
.horizontal-section {
  width: 100%;
  overflow-x: auto; /* Aktifkan scroll horizontal */
  overflow-y: hidden; /* Sembunyikan scroll vertikal */
  white-space: nowrap; /* Pertahankan elemen berjejer */
}
/* Container track sebagai flex row */
.horizontal-track {
  display: inline-flex;
  width: max-content; /* Lebar sesuai total elemen */
}

.ride-card {
  scroll-snap-align: center;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

